body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    background-color: #000;
    color: #00356b; /* Yale Blue color */
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #1a1a1a; /* Slightly lighter black for contrast */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}
.hidden {
    display: none;
}
button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    background-color: #00356b;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: calc(100% - 22px);
}
button:hover {
    background-color: #002244; /* Darker shade for hover effect */
}
input {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #00356b;
    font-size: 16px;
    
}
textarea {
    width: calc(100% - 22px);
    height: 370px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #00356b;
    font-size: 16px;
    resize: vertical; /* Allow vertical resizing */
}
h1, h2 {
    color: #fff;
}
h3 {
    color: #55aaff;
}
p {
    color: #fff;
}
p1 {
    color: #fff; /* Corrected from 'p1' to 'p' */
}
